/* Handing various header-ralted elements */
.header{
    grid-area: hr;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #0000c0;
}

#nav__item02 {
    color: white;
    text-decoration: none;
}

#nav__item02:hover {
    color: #ffdc00;
}

#nav__item02__title1 {
    text-align: center;
}

#nav__item01 {
    color: white;
    text-decoration: none;

}

#nav__item01:hover {
    color: #ffdc00;
}

.notLink {
    color: black;
    text-decoration: none;
}

#nav__item03 {
    width: 30px;
}