.postOuterContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
    "hr"
    "main"
    "fr";
    height: 100vh;
}

.postInnerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-template-areas: 
    "main main main main main addcontent";
}

.postContent {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: main;
    align-items: start;
    align-content: start;
}

.postHeader {
    margin-bottom: 10px;
}

.socialNetworkLogo {
    width: 20px;
}

.postOpening {
    margin-bottom: 10px;
}

.postMain {
    margin-bottom: 10px;
}

.postClosure {
    margin-bottom: 10px;
}


.bodyImgContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin-top: 5px;
    font-size: 0.8em;
    font-family: RobotoItalic;
}

#bodyImg {
    width: 80%;
    margin: auto;
}

.quote {
    font-family: RobotoItalic;
}

.homeRedir {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addContent {
    padding: 10px;
    grid-area: addcontent;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    align-content: start;
}

.aboutAuthor {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.authorAvatar {
    width: 100px;
    margin-left: 15px;
}

#authorName {
    margin-left: 15px;
    font-size: 0.9em;
}

#authorJobTitle {
    margin-left: 15px; 
    font-size: 0.9em;
}

#authorDescription {
    margin-left: 15px;
    font-size: 0.9em;
    font-family: RobotoItalic;
}

.archive {
    /* grid-area: addcontent; */
    float: left;
}

.morePosts {
    background-color: #00dcfa;
    color: #3c3c3c;
    border-radius: 15%;
    border: none;
    width: 16vw;
    height: 3vh;
    font-family: Roboto;
    font-size: 0.9em;
}

.morePosts:hover {
    background-color: #0000c0;
    color: white;
    cursor: pointer;
}

@media(max-width: 360px) {
/* the smallest screens only have post content */
    .postInnerContainer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        grid-template-areas: 
        "main"
        "addcontent";
    }

    .addContent {
        display: none;
    }

    .morePosts {
        width: 30vw;
    }

}

@media(min-width: 360px) and (max-width: 600px) {
/* hiding only archive for smaller screens */
    .postInnerContainer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        grid-template-areas: 
        "main"
        "addcontent";
    }

    .archive {
        display: none;
        padding: 10px;
    }

    .morePosts {
        width: 25vw;
    }

}

@media(min-width: 600px) and (max-width: 1200px){
    .morePosts {
        width: 18vw;
    }

    .aboutAuthor {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width:170px;
    }
}

@media(min-width: 1200px){
    .morePosts {
        width: 10vw;
    }

    .aboutAuthor {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width:200px;
    }
}