/* removing defaul margins */

body {
    margin: 0px;
    color: #0000c0;
    font-family: Roboto;
}

h1 {
    color: #ffdc00;
}

p {
    margin: 0;
    margin-bottom: 5px;
}

p a {
    color: #9600ff;
}

a:hover {
    color: #ffdc00;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
    color:#0000c0;
}

h3 {
    margin: 0px;
}

h4 {
    margin-bottom: 10px;
}

/* Handing various header-ralted elements */
.header{
    grid-area: hr;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #0000c0;
}

#siteTitle {
    text-align: center;
}

#home {
    color: white;
    text-decoration: none;
}

#home:hover {
    color: #ffdc00;
}

#sub {
    color: white;
    text-decoration: none;

}

#sub:hover {
    color: #ffdc00;
}

.notLink {
    color: black;
    text-decoration: none;
}

#search {
    width: 30px;
}

/* handling specific UI elements */
#logo {
    width: 15vw;
    max-width: 100px;
}

/* main containers */
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 250px 50px;
    grid-template-areas: 
    "hr"
    "main"
    "au"
    "fr";
}

.content {
    padding: 10px;
    grid-area: main;
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 15px;
}

.date {
    font-size: 0.8em;
    color: #00d7b9;
}

.contentBox {
    border: 2px solid #00dcfa;
    border-radius: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentBox:hover {
    border: 2px solid #ffdc00;
}

#contentBoxTitle:hover {
    color:#ffdc00;
}

.aboutUs {
    grid-area: au;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* handling footer */

.footer {
    background-color: #0000c0;
    color: white;
    grid-area: fr;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Handling grid on mid-size screens */
@media only screen and (min-width: 600px) and (max-width: 1200px){
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas: 
        "hr hr hr hr hr hr"
        "au main main main main main"
        "fr fr fr fr fr fr";
    }
    .content {
        padding: 10px;
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 15px;
        align-items: start;
        align-content: start;
    }

}

/* Handling grid large-size screens */
@media only screen and (min-width: 1200px){
    .container{
        display: grid;
        grid-template-columns: 30vw 1fr;
        grid-template-rows: 100px 1fr 50px;
        grid-template-areas:
        "hr hr hr hr hr hr hr hr"
        "au main main main main main main main"
        "fr fr fr fr fr fr fr fr";
    }
    .content {
        padding: 10px;
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 15px;
        align-items: start;
        align-content: start;
    }
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}